<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="logo pull-left">
                <a href="index.html"><img src="~/images/User/home/logo.png" alt="" /></a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="shop-menu pull-right">
                <ul class="nav navbar-nav">
                    <li><button type="button" data-toggle="modal" class="btn" data-target="#myModalRes" style="background-color:white;padding:8px 12px;color:#696763;font-family:'Roboto', sans-serif;font-weight:300;padding-right:0px;"><i class="fa fa-user"></i> Đăng kí</button></li>
                    <li><button type="button" data-toggle="modal" class="btn" data-target="#myModalLogin" style="background-color:white;padding:8px 12px;color:#696763;font-family:'Roboto', sans-serif;font-weight:300;padding-right:0px;"><i class="fa fa-lock"></i> Đăng nhập</button></li>
                    <li><button type="button" data-toggle="modal" class="btn" data-target="#myModalCart" style="background-color:white;padding:8px 12px;color:#696763;font-family:'Roboto', sans-serif;font-weight:300;padding-right:0px;"><i class="fa fa-shopping-cart"></i> Giỏ hàng</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>
